<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zza.stardust">

    <permission
        android:name="com.zza.stardust.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.zza.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.zza.stardust.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.zza.PROVIDER" />

    <application
        android:name=".base.MApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_star_dust"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_star_dust"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.ui.androidart.binderpool.BinderPoolActivity"></activity>

        <service
            android:name=".app.ui.androidart.binderpool.BinderPoolService"
            android:process=":remote" />
        <service
            android:name=".app.ui.androidart.socket.TCPServerService"
            android:process=":remote" />

        <activity android:name=".app.ui.androidart.socket.TCPClientActivity" />
        <activity android:name=".app.ui.androidart.provider.ProviderActivity" />

        <provider
            android:name=".app.ui.androidart.provider.BookProvider"
            android:authorities="com.zza.book.provider"
            android:permission="com.zza.PROVIDER"
            android:process=":provider" />

        <activity android:name=".app.ui.androidart.aidl.BookManagerActivity" />

        <service
            android:name=".app.ui.androidart.aidl.BookManagerService"
            android:process=":remote" />
        <service
            android:name=".app.ui.androidart.messenger.MessengerService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.zza.MessengerService.launch" />
            </intent-filter>
        </service>

        <activity android:name=".app.ui.androidart.messenger.MessengerActivity" />
        <activity android:name=".app.ui.androidart.serializableParcelable.SerializableParcelableActivity2" />
        <activity android:name=".app.ui.androidart.serializableParcelable.SerializableParcelableActivity1" />
        <activity
            android:name=".app.ui.tboxprotobuf.ProtobufActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".app.ui.tboxupgrade.ScreenTboxUpgradeActivity" />
        <activity android:name=".app.ui.tboxlog.GetLogActivity" />
        <activity android:name=".app.ui.tboxupgrade.UpgradeWifiActivity" />
        <activity android:name=".app.ui.androidhero.NotificationActivity" />
        <activity
            android:name=".app.ui.ToolBarActivity"
            android:theme="@style/NoActionBarAppTheme" />
        <activity android:name=".app.ui.MDAnimActivity" />
        <activity android:name=".app.ui.androidhero.OverAnimationTargetActivity" />
        <activity android:name=".app.ui.androidhero.OverAnimationActivity" />
        <activity android:name=".app.ui.androidhero.ShadowTintingClippingActivity" />
        <activity
            android:name=".app.ui.androidhero.PaletteActivity"
            android:theme="@style/TestAppTheme" />
        <activity android:name=".app.ui.androidhero.ActivityManagerActivity" />
        <activity android:name=".app.ui.androidhero.PackageManagerActivity" />
        <activity android:name=".app.ui.androidhero.SystemInfoActivity" />
        <activity android:name=".app.ui.androidhero.SVGActivity" />
        <activity android:name=".app.ui.androidhero.CustomAnimActivity" />
        <activity android:name=".app.ui.androidhero.PropertyAnimActivity" />
        <activity android:name=".app.ui.androidhero.ViewAnimActivity" />
        <activity android:name=".app.ui.androidhero.SufaceViewActivity" />
        <activity android:name=".app.ui.androidhero.PathEffectViewActivity" />
        <activity android:name=".app.ui.androidhero.ShaderActivity" />
        <activity android:name=".app.ui.androidhero.XfermodeActivity" />
        <activity android:name=".app.ui.androidhero.FlagBitmapActivity" />
        <activity android:name=".app.ui.androidhero.ImageMatrixActivity" />
        <activity android:name=".app.ui.androidhero.ColorMatrix2Activity" />
        <activity android:name=".app.ui.androidhero.ColorMatrix1Activity" />
        <activity android:name=".app.ui.androidhero.DrawingSkillsActivity" />
        <activity android:name=".app.ui.androidhero.XMLPicActivity" />
        <activity android:name=".app.ui.androidhero.Base2DPicActivity" />
        <activity android:name=".app.ui.androidhero.ScollViewGroupActivity" />
        <activity android:name=".app.ui.androidhero.ScollViewActivity" />
        <activity android:name=".app.ui.androidhero.CustomViewGroupActivity" />
        <activity android:name=".app.ui.androidhero.CustomViewActivity" />
        <activity android:name=".app.ui.androidart.AndroidArtActivity" />
        <activity android:name=".app.ui.androidhero.AndroidHeroActivity" />
        <activity android:name=".app.ui.constraintlayout.ConstraintLayoutMoreActivity" />
        <activity android:name=".app.ui.constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".app.ui.okhttp.OkHttpActivity" />
        <activity android:name=".home.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>